.main-container {
  height: 80vh;
}

.rating i {
  margin: 0.1rem;
}

.rating-text {
  margin-left: 0.4rem;
}

a {
  text-decoration: none;
}

/* Overriding bootstrap CSS */
.list-group {
  border: none;
  background-color: #fff;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-18 {
  font-size: 18px;
}

.ls-2 {
  letter-spacing: 2px;
}

.curP {
  cursor: pointer;
}